{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="arrow-container d-flex justify-content-between align-items-center">
<!--        Add link of previous and next to the buttons-->
        <a href="{{url_for('previous_entry')}}" class="btn btn-primary">&laquo; Prev</a>
        <h1 class="title mb-4 mt-4">Journal Entry for {{ date }}</h1>
        <a href="#" class="btn btn-primary">Next &raquo;</a>
    </div>
    <div class="card">
        <div class="card-body">
            <textarea class="form-control" id="journal_entry" name="journal_entry" rows="10" readonly>{{ entry.entry }}</textarea>
            <div class="btn-group mt-4">
                <!-- Delete Button -->
                <form action="{{ url_for('delete_entry') }}" method="POST">
                    <input type="hidden" name="entry_date" value="{{ date }}">
                    <button type="submit" class=" btn-clear" id="clear-button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
            <div class="btn-group mt-4">
                <!-- Navigation Buttons -->
                <a href="{{ url_for('dashboard') }}" class="btn btn-dark btn-large">Back to Dashboard</a>
                <a href="{{ url_for('view_past_entries') }}" class="btn btn-secondary btn-large">Back to Calendar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
